<connectionStrings>
	<!--<add name="mydata" connectionString="Data Source=C:\Users\mnewp\AppData\Roaming\LINQPad\ChinookDemoDb.sqlite;" providerName="System.Data.SQLite" />-->
	<add name="gotocard_dev" connectionString="	Data Source=DESKTOP-0MQNB1C\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=gotocard_dev;" providerName="System.Data.Sql" />
</connectionStrings>
